.home-page {
  margin-right: 20%;
  margin-left: 20%;
  border-bottom: 2px dashed grey;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content1 {
  width: 48%;
  padding-right: 1%;
}
.home .content-section .img-content1 {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content1 img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed grey;
}
.home .inverse-content .text-content2 {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content2 {
  padding-right: 1%;
  padding-left: 0;
}
.home .inverse-content .img-content2 img {
  border-radius: 10px;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed grey;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .content-section {
    flex-direction: column;
    width: 100%;
  }
  .content-section .text-content1 {
    width: 80%;
    margin-left: 100px;
  }
  .content-section .img-content1 {
    width: 80%;
    margin-left: 100px;
  }
  .inverse-content {
    flex-direction: column-reverse;
  }
  .inverse-content .img-content2 {
    width: 80%;
    margin-left: 50px;
  }
  .inverse-content .text-content2 {
    width: 80%;
    margin-left: 50px;
  }
}
